/*Global*/
.b {
  border: 1px solid black;
}

a, a:visited, a:hover {
  color: white;
  text-decoration: none;
}

/* Mobile CSS */

/* Mobile Global */

input {
  width: 98%;
  padding: 5px;
  font-size: 15px;
}

/* Navigation Bar */
/*#primary_nav {
  display: flex;
  flex-direction: column;
  background-color: #091F48;
}

.container {
  margin: 0 auto;
  width: auto;
}*/

/* Log In */
/*#log_in_form {
  width: 100%;
  margin: 0;
  border-radius: 0
}*/

/* About Page */


/* Desktop CSS */
@media (min-width: 415px) {

/* Desktop Global */
/*button {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

input {
  margin-bottom: 10px;
  border: 0;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 15px;
  width: auto;
}*/


/* Navigation Bar */
/*#primary_nav {
  display: flex;
  flex-direction: row;
  background-color: #091F48;
}*/

/*.nav_bar {
  margin: 10px;
  color: white;
}

.nav_link {

}

.container {
  margin: 0 auto;
  width: 80%;
}*/

/* Log In */
/*#log_in {

}

#log_in_form {
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin-top: 30px;
  background-color: blue;
}


button:hover {

}

.log_in_email {

}

.log_in_password {

}*/

/* Registration Form */
/*#registration_form {
  margin: 0 auto;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin-top: 30px;
  background-color: blue;
}*/

/* About Page */
/*#about_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

#about_row_1 {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

#about_row_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
}

#about_row_3 {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.flex_row {
  display: flex;
  flex-direction: row;
  max-width: 50%;
}

.about_stager_img {
  width: 200px;
}

#project_description {
background-color: grey;
color: white;
margin: 10px;
padding: 10px;
}

.bio_pic {
  width: 200px;
  height: 200px;
}

.bio_info {
  margin: 0 10px 0 10px;
}

#ben_pic, #grant_pic, #shontae_pic, #sim_pic {
  width: 100px;
  margin-left: 10px;
}*/

/* End Desktop */
}
