/* CSS for All components */

.b {
  border: 1px solid black;
}

a, a:visited, a:hover {
  color: white;
  text-decoration: none;
}

/* Mobile */

input {
  width: 98%;
  padding: 5px;
  font-size: 15px;
}

/* Desktop */
@media (min-width: 415px) {




}
