/* CSS for LogIn component */

/* Mobile */
#log_in {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#log_in_form {
  margin: 0 auto;
  border-radius: 0;
  width: 95%;
  text-align: center;
}

input {
  border: 1px solid black;
  font-size: 6vw;
  padding: 2vw;
  width: 93vw;
}

/* Desktop */
@media (min-width: 415px) {
#log_in {

  min-height: 100%;
  min-width: 100%;
  background-image: url("../images/login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#log_in_form {
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30% auto;
  background-color: white;
  border: 1px solid grey;
}

#submit_clear_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#login_title {
  font-size: 30px;
}

.submit_clear {
  width: 282px;
}

.log_in_email, .log_in_password {
  width: 260px;
  padding: 10px;
}

}
