/* CSS for LogIn component */

/* Mobile */
#log_in {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#log_in_form {
  margin: 0 auto;
  border-radius: 0;
  width: 100%;
  text-align: center;
}

#login_button {
  font-size: 6vw;
  padding: 2vw;
  width: 95%;;
}

/*img {
  display: none;
}*/

input {
  border: 1px solid black;
  font-size: 6vw;
  padding: 2vw;
  width: 93%;
}

/* Desktop */
@media (min-width: 415px) {
#log_in {
  width: 300px;
  margin: 3vh auto;
}

#log_in_form {
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 0;
}

#login_button {
  font-size: 20px;
  width: 100%;
}

input {
  width: 100%;
  padding: 0;
}

.submit_clear {
  width: 49%;
}

}
