/* CSS for Navigation/BaseLayout component */

/* Mobile */
#desktop_nav {
display: none;
}

#mobile_nav {
  display: flex;
  flex-direction: column;
  background-color: #091F48;
  color: white;
}

.mobile_nav_button {
  background-color: #091F48;
}

.hamburger_container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.container {
  margin: 0 auto;
  width: auto;
}

.nav_bar {

}

.nav_link {

}

/* Desktop */
@media (min-width: 415px) {

#nav_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

  #desktop_nav {
    display: flex;
    flex-direction: column;
    background-color: #091F48;
    width: 15%;
    height: 100vh;
    text-align: center;
  }

  #mobile_nav {
    display: none;
  }

  #children_components {
    width: 85%;
  }

  img {
    margin: 10px 0;
  }

  .nav_bar, .nav_bar_lower {
    margin: 10px;
    color: white;

  }

  .filler {
    height: 100%;
  }

  .nav_bar_lower {

  }

  .nav_link {

  }

  .container {
    margin: 0 auto;
    width: 80%;
  }

}
