/* CSS for Account component */

/* Mobile */




/* Desktop */
@media (min-width: 415px) {

#container {
  margin: 2% auto;

}

#listView {
  display: flex;
  justify-content: center;
}

.address {
  width: 35%;
}

.stager {
  width: 25%;
}

.alp {
  width: 25%;
}

.dom {
  width: 15%;
}

.header {
  text-transform: uppercase;
}

.smallStats {
  display: flex;
  justify-content: space-between;
  margin: 5% 2% 3%;
}

.stadium {
  width: 23%;
  height: 100px;
  border-radius: 10px;
  background-color: #405d9d;
  
}

}
